# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Uploads (don't commit user files)
backend/uploads/

# Environment variables
.env

# React
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/
